<!--header block-->
<nav th:fragment="header" id="nav-header" class="header-navigation">
    <div id="block-logo">
        <a class="navbar-brand">
            <!-- *Origin* <img th:src="logo.png" alt="logo" class="d-inline-block align-text-top"> -->
            <img th:src="logo.png" id="header-logo" alt="logo">
        </a>
    </div>
    <div id="block-products">
        <ul class="h-list">
            <li><a th:href="@{/}" th:text="#{menu.home}">Главная</a></li>
            <li><a th:href="@{/clothes/list}" th:text="#{menu.clothes}">Одежда</a></li>
            <li><a th:href="@{/}" th:text="#{menu.electronics}">Техника</a></li>
        </ul>
    </div>
    <div id="block-profile" class="hideble-list">
        <ul class="v-list">
            <li class="active"><a th:href="@{/profile}" th:text="#{menu.profile}">Профиль</a></li>
            <li><hr></li>
            <li><a th:href="@{/adminPanel}" th:text="#{menu.adminPanel}">Админ</a></li>
        </ul>
    </div>
</nav>