<div th:fragment="orders(OrdersList)">
    <table class="table-product">
        <thead class="table-header">
        <tr>
            <th class="table-column column-name">Название</th>
            <th class="table-column column-price">Цена</th>
            <th class="table-column column-action">Действие</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="item" type="project.Models.Product.Order.OrderDto"*/-->
        <tr th:each="order : ${OrdersList}">
            <td class="table-column column-name" >
            <td class="table-column" th:text="${item.id}">123.45</td>
            <td class="table-column" th:text="${item.orderDate}">123.45</td>
            <td class="table-column" th:text="${item.personName}">123.45</td>
            <td class="table-column column-price" th:text="${item.totalAmount}">123.45</td>
            <td class="table-column column-action">*reserved*</td>
        </tr>
        </tbody>
    </table>
</div>