:root{
    --header-bg-primary: #41769E;
    --header-bg-secondaty: #345e7e;
    --main-bg-primary: linear-gradient(180deg, rgb(191, 231, 255) 0%, rgb(255, 224, 166) 100%);
    --main-bg-secondaty: #557a95;
    --widget-bg-primary: linear-gradient(180deg, rgb(138, 138, 138) 0%, rgb(255, 234, 196) 100%);;
    --widget-bg-secondaty: var(--widget-bg-primary);
    --action-primary: rgb(255, 167, 72);
    --action-secondary: #d6d27d;
    --footer-bg-primary: var(--header-bg-primary);
    --footer-bg-secondaty: var(--header-bg-secondaty);

    --hover-light: rgba(255, 255, 255, 0.1);
    --hover-dark: rgba(0, 0, 0, 0.1);

    --color-primary: #000;
    --font-family: 'Onest', arial, sans-serif;
    --font-primary: 1rem var(--font-family);
    --color-secondaty: #6a6a6a;
    --font-secondary: var(--font-primary);
    --color-header: #f1f1f1;
    --font-header: var(--font-primary);
    --color-buttons: #000;
    --font-buttons: var(--font-primary);

    --disable: gray;

    --widget-shadow: 10px 10px 10px black;
}
[data-theme="dark"] {
    --header-bg-primary: rgb(0, 81, 130);
    --header-bg-secondaty: #345e7e;
    --main-bg-primary: linear-gradient(179deg,rgb(0, 0, 0) 0%, rgb(0, 30, 48) 100%);
    --main-bg-secondaty: #557a95;
    --widget-bg-primary: rgb(192, 192, 192);
    --widget-bg-secondaty: var(--widget-bg-primary);
    --action-primary: rgb(179, 131, 80);
    --action-secondary: #d6d27d;
    --footer-bg-primary: var(--header-bg-primary);
    --footer-bg-secondaty: var(--header-bg-secondaty);

    --color-primary: #000;
    --color-secondaty: #6a6a6a;
    --color-header: #f1f1f1;
    --color-buttons: #f4f4f4;
}

*{
    box-sizing: border-box;
}
html, body {
    height: 100%;          /* обязательно — даём body реальную высоту */
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;  /* вертикальное расположение */
    min-height: 100%;
    background: var(--main-bg-primary);
    font-family: var(--font-family), sans-serif;
}
main{
    flex: 1;
}

/*Header base*/
header{
    height: 75px;
    width: 100%;
    padding: 10px;
    background: var(--header-bg-primary);
    color: var(--color-header);
    font: var(--font-header);
}
header a{
    color: var(--color-header);
    font: var(--font-header);
}
a{
    text-decoration: none;
}
.p3{
    padding: 3px;
}
.p6{
    padding: 6px;
}
.p9{
    padding: 9px;
}
/* ----------- */
/*Nav elements*/
#header-logo{
    width: 50px;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    height: 100%
}
.v-list, .h-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    text-align-last: center;
}
.h-list li{
    padding: 1rem;
}
.v-list{
    flex-direction: column;
}
.v-list *{
    margin: 0;
    padding: 5px;
    width: 100%;
}
.header-list li:not(.active) {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    transition:
            opacity 0.3s ease,
            visibility 0s linear 0.5s, /* Задержка перед скрытием */
            height 0s linear 0.5s,
            padding 0s linear 0.5s,
            margin 0s linear 0.5s;
}

/* Показываем при наведении */
.header-list:hover li{
    opacity: 1;
    visibility: visible;
    height: auto;
    margin: 0;
    background: var(--header-bg-secondaty);
    transition:
            opacity 0.3s ease,
            visibility 0s linear 0s,
            height 0s linear 0s,
            padding 0s linear 0s,
            margin 0s linear 0s;
}
.header-list:hover li:not(.active){
    padding: 5px;
}
.header-list:hover{
    border-radius: 10px;
}
.active{
    padding: 1rem;
}
.header-list li:not(.active) hr {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.header-list:hover li:not(.active) hr {
    opacity: 1;
}
.header-list:hover li:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-list:hover li:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header-buttons{
    display: flex;
    align-items: center;
}
.header-button{
    padding: 4px 10px;
    margin: 4px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-button:hover{
    background: var(--header-bg-secondaty);
}
#header-buttons-wishlist a{
    display: grid;
    grid-template-columns: auto;
}
.wishlist_icon{
    width: 100%;
    height: 30px;
    stroke: none;
    fill: var(--disable);
    color: var(--color-header);
}
.header-button svg{
    fill:var(--color-header);
}
/* -----------------------Footer------------------------ */
#nav-footer{
    width: 100%;
    height: 100px;
    background: var(--footer-bg-primary);
}
#nav-footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    height: 100%;
    align-items: end;
}
#nav-footer li{
    grid-template-columns: auto;
    width: max-content;
}
#copyright{
    font: 14px courier;
    color: var(--disable);
}
/* -----------------------Main-------------------------- */
main, .content, .col, .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 60%;
}
.content-container{
    width: 100%;
}
.table-form, .row, table, thead, tbody, tr{
    width: 100%;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.table-column{
    margin: 2px;
    padding: 5px;
    text-align: center;
    min-width: min-content;
}
#filterForm {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
#filterForm > div {
    display: table-cell;
    padding: 5px;
}

#filterForm input,
#filterForm select,
#filterForm button {
    width: 100%;
    box-sizing: border-box;
}
.column-name{width: 240px;}
.column-type{width: 70px;}
.column-size{width: 60px;}
.column-color{width: 60px;}
.column-brand{width: 80px;}
.column-price{width: 70px;}
.column-action{width: 80px;}
.registerForm-div{
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
}
.registerForm{
    background: var(--widget-bg-secondaty);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    max-width: 100%;
    margin: 10% 35%;
}
.input-container{
    display: flex;
    flex-direction: column;
    padding: 6px;
}
.table-product a{
    color: var(--color-secondaty);
}
.controlPanel a{
    color: var(--color-secondaty);
}
.controlPanel li{
    margin: 4px;
    width: max-content;
    height: 60px;
    border-radius: 10px;
    background: var(--main-bg-primary);
    align-content: center;
}
.controlPanel li:hover{
    background: var(--hover-light);
}
/* ---------------------------Admin panel---------------------------------- */
.table-form-admin {
    padding: 5px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.table-form-admin input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.table-form-admin button {
    width: 100%;
    padding: 8px 16px;
    background: var(--header-bg-primary);
    color: var(--color-buttons);
    font: var(--font-buttons);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    white-space: nowrap;
}

.table-form-admin button:hover {
    background: var(--hover-light);
}

.table-form-adm{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.table-column-admin{
    padding: 2px;
}
.table-column-admin input, .table-column-admin button{
    margin: 2px;
}
.table-form-adm *{
    width: 100%;
}
.column-id{
    width: 20%;
}
/* --------------------------Пагинация---------------------------*/
.pagination{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.pagination *{
    color: var(--color-secondaty);
    padding: 5px;
    align-content: center;
}
/* ---------------------------Product info styles---------------------------------------- */
#Product-ShortInfo-container{
    margin: 10px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}
#Product-Photo-container img{
    width: 80%;
}
#Product-ShortParameters-container{
    padding: 10px;
}
#Product-ShortParameters-container p{
    margin: 0;
    padding: 0;
}
.actionBar{
    display: flex;
}
.actionBar button{
    height: 40px;
    padding: 10px;
    width: max-content;
}
.toggleWishlist-btn svg{
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
}
.toggleWishlist-btn.active svg{
    fill: red;
}
.product-buy-action{
    justify-content: space-between;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}

/* ============================= */
#Product-FullInfo-container{
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
}
#Product-FullInfo-container h2, #Product-FullInfo-container h3{
    text-align: center;
}
/* ============================= */
#Product-Reviews-container{
    margin: 10px 0;
    width: 100%;
    min-height: 250px;
    padding: 10px;
    border-radius: 20px;
}
.Review-card{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.10);
}
.Review-card label{
    font-weight: bold;
}
.comment-date{
    color: var(--disable);
}
.comment-controls{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.Review-card-new-comment-form{
    background: rgba(0, 0, 0, 0.15);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#review-form{
    width: 100%;
    display: grid;
    max-width: inherit;
}
.review-form-inputDiv{
    display: flex;
    flex-direction: column;
}
.Review-card-new-comment-form textarea{
    max-width: 100%;
    width: 100%;
    min-width: 40%;
    min-height: 40px;
    height: fit-content;
    max-height: 120px;
}
.Review-card-new-comment-form button{
    padding: 5px;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
}
.Review-card-new-comment-form *{
    margin: 5px;
}
.Review-card-comment{
    padding: 5px 5px 5px 20px;
}
/* ====================================================================================== */

/* ------------------------wishlist----------------------------- */
main{
    width: 76% !important;
    margin: 0 12%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    /*grid-template-columns: 20% 80%;*/
}
.side-container{
    max-width: 20%;
    display: flex;
    padding: 10px;
    margin: 10px;
}
.main-container{
    margin: 10px;
    height: 100%;
    min-width: 80%;
    max-width: 100%;
}
.catalog{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 215px));
    grid-template-rows: auto;
    /*overflow: hidden;*/
    gap: 10px;
    padding: 20px;
}

.product-widget{
    background: var(--widget-bg-primary);
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    color: var(--color-primary);
    box-shadow: var(--widget-shadow);
}
.product-widget a{
    color: var(--color-primary);
}
.widget-inner{
    border: black 2px inset;
    border-radius: 10px;
    background: var(--widget-bg-secondaty);
}
.block-major{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.block-major.buyActions{
    display: flex;
    flex-direction: column;
}
.block-minor{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}
.block-minor.info{
    height: 60px;
}
.block-minor.rating{
    color: var(--color-secondaty);
    font:var(--font-secondary);
}
.block-minor span{
    max-height: 60px;
    overflow: hidden;
}
/*.block-minor .buyActions{*/
/*    display: grid;*/
/*    grid-auto-flow: column;*/
/*    justify-items: end;*/
/*    justify-content: end;*/
/*}*/
.block-micro{
    padding: 5px;
    align-items: center;
    display: grid;
}
.block-micro.price{
    font: var(--font-primary);
}
.media{
    width: 100%;
    /*aspect-ratio: 1 / 1;*/
}
.media *{
    max-width: 100%;
}
.info{
    display: grid;
    grid-template-columns: 1fr;
}
.buyActions{
    align-items: center;
}
.buyActions .block-minor{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    justify-content: end;
}
.block-micro button{
    padding: 6px;
    height: 40px;
    background-color: var(--action-primary);
    border-radius: 20px;
    color: var(--color-buttons);
    font: var(--font-buttons);
}
.product-name-text{
    font: var(--font-primary);
}
.product-name-text:hover{
    color: var(--action-primary);
}
/* =========================== Order form ============================================ */
#order-form{
    width: 100%;
    display: grid;
    gap: 10px;
    background: var(--widget-bg-primary);
    border-radius: 10px;
    padding: 10px;
}
#order-info-block{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
}
#order-info-total-data{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    font-size: 18px;
    gap: 10px;
}
#order-info-label{
    color: var(--disable);
}
#order-action-block button{
    width: 100%;
    height: 40px;
    background-color: var(--widget-bg-primary);
    color: var(--color-primary);
    border-radius: 6px;
}

#profile-action-menu{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}
#profile-action-menu button{
    width: 100%;
    height: 40px;
}
/* ============================Order widget====================================== */
.order-widget{
    width: 100%;
    display: grid;
    padding: 6px;
    grid-template-columns: auto;
    background-color: var(--widget-bg-primary);
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.order-widget *{
    display: block;
}
.order-item{
    margin: 6px;
    display: grid;
    background-color: var(--widget-bg-primary);;
    border-radius: 6px;
}
.order-widget-catalog{
    display: grid;
    grid-template-columns: auto;
    padding: 10px 0;
    background-color: rgba(255, 0, 0, 0.41);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.alignEnd{
    width: 100%;
    text-align-last: end;
    align-content: flex-end;
    align-items: flex-end;
}
.flex{
    display: flex;
}
.sb{
    justify-content: space-between;
}
.itemsList{
    display: grid;
    background: var(--widget-bg-primary);
    border-radius: 6px;
}
/* ========================productConstructor===================== */
.productConstructor{
    margin: 10px;
    padding: 10px;
    background: var(--widget-bg-primary);
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns: auto;
    box-shadow: var(--widget-shadow);
}
.attributeContainer{
    display: flex;
    width: 100%;
}
.attributeContainer div{
    display: flex;
    flex-direction: column;
}
.cols{
    display: grid;
    grid-template-columns: auto;
}
#preview-body{
    display: none;
}