<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:replace="fragments/head :: head('Панель администратора')"></head>
    <body>
        <header th:insert="~{fragments/header::header}"></header>
        <main>
        <!-- Messages -->
        <div class="messageOut">
            <span id="messageOut-span"></span>
        </div>
        <!-- getByIdForm -->
        <div class="content">
            <form class="table-form-admin" id="getById-form" method="get">
                <input name="id" id="table-form-input-id" type="text" placeholder="ID предмета">
                <button class="" id="getById-button" type="submit">Найти</button>
                <button class="" id="deleteById-button" type="button">Удалить</button>
            </form>
        </div>
        <!-- editForm -->
        <div class="content">
            <form class="table-form-adm" id="editForm" method="post">
                <div class="col">
                    <div class="row">
                        <!--
                        <div class="table-column-admin column-id">
                            <label for="input-name"></label>
                            <input id="input-id" name="id" type="text" placeholder="ID">
                        </div>
                        -->
                        <div class="table-column-admin column-name">
                            <!--<label for="input-name"></label>-->
                            <input id="input-name" name="name" type="text" placeholder="Название">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-column-admin column-size">
                            <!--<label class="" for="input-size">Размер</label>-->
                            <textarea class="" id="input-description" placeholder="Описани товара">
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-column-admin column-price">
                            <!--<label class="" for="input-price">Цена</label>-->
                            <input class="" id="input-price" name="price" type="number" min="0" step="1" placeholder="Цена">
                        </div>
                        <div class="table-column-admin column-action">
                            <button class="" id="addProduct-button" type="button">Добавить</button>
                        </div>
                        <!--
                        <div class="table-column-admin column-action">
                            <button class="" id="editById-button" type="button">Обновить</button>
                        </div>
                        -->
                    </div>
                </div>
            </form>
        </div>
    </main>
        <footer>
        </footer>
    </body>
</html>
