<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:replace="fragments/head :: head('Панель администратора')"></head>
    <body>
    <header th:insert="~{fragments/header::header}"></header>
        <main>
        <!-- Messages -->
        <div class="messageOut">
            <span id="messageOut-span"></span>
        </div>
        <!-- getByIdForm -->
        <div class="content">
            <form class="table-form-admin" id="getById-form" method="get">
                <input name="id" id="table-form-input-id" type="text" placeholder="ID предмета">
                <button class="" id="getById-button" type="submit">Найти</button>
                <button class="" id="deleteById-button" type="button">Удалить</button>
            </form>
        </div>
        <!-- editForm -->
        <div class="content">
            <form class="table-form-adm" id="editForm" method="post">
                <div class="col">
                    <div class="row">
                        <div class="table-column-admin column-id">
                            <!--<label for="input-name"></label>-->
                            <input id="input-id" name="id" type="text" placeholder="ID">
                        </div>
                        <div class="table-column-admin column-name">
                            <!--<label for="input-name"></label>-->
                            <input id="input-name" name="name" type="text" placeholder="Название">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-column-admin column-type">
                            <!--<label class="" for="input-type">Тип</label>-->
                            <select class="" id="input-type" name="type">
                                <option value=""> -- Выберите тип -- </option>
                                <option th:each="ltype : ${T(homework.javaspring_model.Models.ClothesType).values()}"
                                        th:value="${ltype.getDisplayName()}"
                                        th:text="${ltype.displayName}">
                                </option>
                            </select>
                        </div>
                        <div class="table-column-admin column-size">
                            <!--<label class="" for="input-size">Размер</label>-->
                            <select class="" id="input-size" name="size">
                                <option value="" selected>-- размер --</option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-column-admin column-color">
                            <!--<label class="" for="input-color">Цвет</label>-->
                            <input class="" id="input-color" name="color" type="text" placeholder="Цвет">
                        </div>
                        <div class="table-column-admin column-brand">
                            <!--<label class="" for="input-brand">Фирма</label>-->
                            <input class="" id="input-brand" name="brand" type="text" placeholder="Фирма">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-column-admin column-price">
                            <!--<label class="" for="input-price">Цена</label>-->
                            <input class="" id="input-price" name="price" type="number" min="0" step="0.01" placeholder="Цена">
                        </div>
                        <div class="table-column-admin column-action">
                            <button class="" id="addClothes-button" type="button">Добавить</button>
                        </div>
                        <div class="table-column-admin column-action">
                            <button class="" id="editById-button" type="button">Обновить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
        <footer>
        </footer>
    </body>
</html>
