<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/head :: head('Список продуктов')"></head>
    <body>
        <header th:insert="~{fragments/header::header}"></header>
        <main>
            <div class="side-container">
            </div>
            <div class="main-container">
                <div class="content">
                    <table class="table-product">
                    <thead class="table-header">
                    <tr>
                        <th class="table-column column-name">Название</th>
                        <th class="table-column column-price">Цена</th>
                        <th class="table-column column-action">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${productsList}">
                        <td class="table-column column-name" ><a th:href="@{/product/{id}(id=${item.id})}" th:text="${item.name}">Название товара</a></td>
                        <td class="table-column column-price" th:text="${item.price}">123.45</td>
                        <td class="table-column column-action">*reserved*</td>
                    </tr>
                    </tbody>
                </table>
                    <!-- Пагинация -->
                    <div class="pagination">
                        <div>
                            <a th:href="@{/clothes/list(page=${0}, size=${pageSize})}"> <<| </a>
                            <a th:href="@{/clothes/list(page=${currentPage > 0 ? currentPage - 1:0}, size=${pageSize})}"> < </a>
                        </div>
                        <div>
                            <select name="pageSize"
                                    th:value="${pageSize}"
                                    onchange="window.location.href = window.location.pathname + '?page=0&size=' + this.value">
                                <option value="10" th:selected="${pageSize == 10}">10</option>
                                <option value="25" th:selected="${pageSize == 25}">25</option>
                                <option value="50" th:selected="${pageSize == 50}">50</option>
                                <option value="100" th:selected="${pageSize == 100}">100</option>
                            </select>
                        </div>
                        <div>
                            <a th:href="@{/clothes/list(page=${currentPage + 1}, size=${pageSize})}"> > </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
       <footer>
        </footer>
    </body>
</html>
