<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/head::head(${pageTitle})"></head>
<body th:onload="|initPage(${initMethod})|">
    <header th:insert="~{fragments/header::header}"></header>
    <div id="div-infoBlock" th:insert="~{fragments/infoBlock::infoBlock(${message})}"></div>
    <main>
        <div id="side-container" class="side-container">
        </div>
        <div id="main-container" class="main-container">
        </div>
    </main>
    <footer th:insert="~{fragments/footer::footer}"></footer>
</body>
</html>