<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:replace="fragments/head :: head('Страница авторизации')"></head>
    <body>
        <main>
            <div class="side-container">
            </div>
            <div class="main-container">
                <div class="container">
                <div th:if="${param.error}" style="color: red; margin-bottom: 15px;">
                    <p>Неверный логин или пароль</p>
                    <span th:text="${error}"></span>
                </div>
                <div th:if="${param.logout}" style="color: green; margin-bottom: 15px;">
                    Вы успешно вышли из системы
                </div>

                <!-- Форма -->
                <div class="registerForm-div">
                    <form class="registerForm" id="loginForm" th:action="@{/login}" th:object="${user}" method="post">
                        <h2>Авторизация</h2>
                        <!-- Логин -->
                        <div class="input-container">
                            <label>Логин</label>
                            <input name="username" type="text" minlength="3" maxlength="32">
                        </div>
                        <!-- Пароль -->
                        <div class="input-container">
                            <label>Пароль</label>
                            <input name="password" type="password" minlength="3" maxlength="32">
                        </div>
                        <div class="input-container">
                            <button type="submit">Войти</button>
                        </div>
                        <div class="input-container">
                            <span>Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></span>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
