<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:replace="fragments/head :: head('Список желаемого')"></head>
    <body onload="initWishlist()">
        <header th:insert="~{fragments/header::header}"></header>
        <main>
            <div class="side-container">
            </div>
            <div class="main-container">
                <div id="wishlist-catalog" class="catalog">
                </div>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
